
ForumApp/.vs/ForumApp/v17/DocumentLayout.json
/MvcMovie/.vs/MvcMovie/v17/DocumentLayout.json
/MvcMovie/.vs/MvcMovie/v17/.suo
/ForumApp/.vs/ForumApp/v17/.suo
/ForumApp/.vs/ForumApp/DesignTimeBuild/.dtbcache.v2
/ForumApp/.vs/ProjectEvaluation/forumapp.metadata.v7.bin
/ForumApp/.vs/ProjectEvaluation/forumapp.projects.v7.bin
/ForumApp/ForumApp/obj/Debug/net8.0/ForumApp.AssemblyInfo.cs
/ForumApp/ForumApp/obj/Debug/net8.0/ForumApp.AssemblyInfoInputs.cache
/ForumApp/ForumApp/obj/Debug/net8.0/project.razor.vs.bin
/ForumApp/ForumApp/obj/Debug/net8.0/ForumApp.assets.cache
/ForumApp/ForumApp/obj/ForumApp.csproj.nuget.dgspec.json
/ForumApp/ForumApp/obj/ForumApp.csproj.nuget.g.props
/ForumApp/ForumApp/obj/project.assets.json
/ForumApp/ForumApp/obj/project.nuget.cache
/ForumApp/ForumApp.Core/obj/Debug/net8.0/ForumApp.Core.AssemblyInfo.cs
/ForumApp/ForumApp.Core/obj/Debug/net8.0/ForumApp.Core.AssemblyInfoInputs.cache
/ForumApp/ForumApp.Core/obj/Debug/net8.0/ForumApp.Core.assets.cache
/ForumApp/ForumApp.Core/obj/ForumApp.Core.csproj.nuget.dgspec.json
/ForumApp/ForumApp.Core/obj/ForumApp.Core.csproj.nuget.g.props
/ForumApp/ForumApp.Core/obj/project.assets.json
/ForumApp/ForumApp.Core/obj/project.nuget.cache
/ForumApp/ForumApp.Infrastructure/obj/Debug/net8.0/ForumApp.Infrastructure.AssemblyInfo.cs
/ForumApp/ForumApp.Infrastructure/obj/Debug/net8.0/ForumApp.Infrastructure.AssemblyInfoInputs.cache
/ForumApp/ForumApp.Infrastructure/obj/Debug/net8.0/ForumApp.Infrastructure.assets.cache
/ForumApp/ForumApp.Infrastructure/obj/ForumApp.Infrastructure.csproj.nuget.dgspec.json
/ForumApp/ForumApp.Infrastructure/obj/ForumApp.Infrastructure.csproj.nuget.g.props
/ForumApp/ForumApp.Infrastructure/obj/project.assets.json
/ForumApp/ForumApp.Infrastructure/obj/project.nuget.cache
*.vsidx
/MvcMovie/.vs/MvcMovie/FileContentIndex/bf1e2295-cb1e-4964-bb5c-d20362948116.vsidx
/MvcMovie/.vs/MvcMovie/FileContentIndex/d1788ae7-0730-4970-8dc8-988eee7ed17e.vsidx
/MvcMovie/MvcMovie/bin/Debug/net8.0/MvcMovie.dll
/MvcMovie/MvcMovie/bin/Debug/net8.0/MvcMovie.exe
/MvcMovie/MvcMovie/bin/Debug/net8.0/MvcMovie.pdb
/MvcMovie/MvcMovie/obj/Debug/net8.0/ref/MvcMovie.dll
/MvcMovie/MvcMovie/obj/Debug/net8.0/refint/MvcMovie.dll
/MvcMovie/MvcMovie/obj/Debug/net8.0/apphost.exe
/MvcMovie/MvcMovie/obj/Debug/net8.0/MvcMovie.AssemblyInfo.cs
/MvcMovie/MvcMovie/obj/Debug/net8.0/MvcMovie.AssemblyInfoInputs.cache
/MvcMovie/MvcMovie/obj/Debug/net8.0/MvcMovie.csproj.CoreCompileInputs.cache
/MvcMovie/MvcMovie/obj/Debug/net8.0/MvcMovie.dll
/MvcMovie/MvcMovie/obj/Debug/net8.0/MvcMovie.pdb
/MvcMovie/MvcMovie/obj/Debug/net8.0/MvcMovie.sourcelink.json
/MvcMovie/MvcMovie/obj/Debug/net8.0/project.razor.vs.bin
/MvcMovie/MvcMovie/obj/MvcMovie.csproj.nuget.dgspec.json
/MvcMovie/MvcMovie/obj/MvcMovie.csproj.nuget.g.props
/MvcMovie/MvcMovie/obj/project.assets.json
/MvcMovie/MvcMovie/obj/project.nuget.cache
/RegularExam/.vs/ProjectEvaluation/seminarhub.metadata.v7.bin
/RegularExam/.vs/ProjectEvaluation/seminarhub.projects.v7.bin
/RegularExam/.vs/SeminarHub/DesignTimeBuild/.dtbcache.v2
/RegularExam/.vs/SeminarHub/FileContentIndex/1668be24-de38-44e4-a30d-82dfd990569c.vsidx
/RegularExam/.vs/SeminarHub/FileContentIndex/bd41cfbb-fc46-4cd5-bcf9-d7fa37e8c917.vsidx
/RegularExam/.vs/SeminarHub/v17/.suo
/RegularExam/.vs/SeminarHub/v17/DocumentLayout.json
/SoftUniBazar/.vs/ProjectEvaluation/softunibazar.metadata.v7.bin
/SoftUniBazar/.vs/ProjectEvaluation/softunibazar.projects.v7.bin
/SoftUniBazar/.vs/SoftUniBazar/v17/.suo
/SoftUniBazar/.vs/SoftUniBazar/v17/DocumentLayout.json
