@{
    ViewData["Title"] = "NotAuthenticated";
}

<p style="color: orangered; font-size: 3em; margin-top: 5em" class="text-center">You are not authenticated. Please <a style="text-decoration: none; color:#0d6efd" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a> or click on <a style="text-decoration: none;  color:#0d6efd" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a> to create a new account.</p>